:root
{
  --text: #f0f2f1;
  --background: #0e1110;
  --primary: #b6c5bc;
  --active: #7aa18a;
}

html,
head,
body
{
  color: var(--text);
  background-color: var(--background);
  font-size: 24px;
  font-family: 'Space Mono', monospace;

  height: 100%;
  margin: 0;
  padding: 0;
}

main 
{
  height: 100%;
  display: grid;
  grid-template-areas:
    "themes image options";

  gap: .5rem 0;
  align-items: center;
  justify-items: center;
}

canvas
{
  width: 100%;
  min-width: 500px;
  grid-area: image;
  height: 80vh;
  border: solid var(--primary) 2px;
  border-radius: 5px;
}

button
{
  color: var(--background);
  background: var(--primary);

  font-size: .8rem;
  font-family: 'Space Mono', monospace;

  padding: .4rem;

  border-style: none;
  border-radius: 3px;

  cursor: pointer;
  transition: 225ms;
}

button:hover
{
  font-size: 1rem;
}

.options
{
  grid-area: options;
  display: flex;
  flex-direction: column;
}

.themes
{
  grid-area: themes;
  display: flex;
  flex-direction: column;
}

.buttons > button
{
  padding: 1rem;
  margin: .5rem;
}

.buttons > button:first-child
{
  border-radius: 10px 10px 0px 0px;
}

.buttons > button:last-child
{
  border-radius: 0px 0px 10px 10px;
}

.buttons > button:hover
{
  padding: 1.8rem;
  margin: .8rem;
}

.buttons > button:active
{
  background-color: var(--active);
}

.active
{
  background-color: var(--active);
}

#dialog
{
  display: none;
}

#download-link
{
  display: none;
}
