:root
{
  --text: #f0f2f1;
  --background: #0e1110;
  --primary: #b6c5bc;
  --active: #7aa18a;
}

html,
head,
body
{
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: 'Space Mono', monospace;

  color: var(--text);
  background-color: var(--background);
}

main 
{
  display: grid;

  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "header header header" 
    "themes image options";

  gap: .5rem 0;
  align-items: center;
  justify-items: center;
}

header
{
  grid-area: header;
  display: flex;
  background: var(--background);


  padding: 2.5rem;
  margin-inline:  15%;
  border: dashed var(--primary) 3px;
  border-radius: 0px 0px 5px 5px;
  justify-content: center;
  align-items: center;
}

article
{
  grid-area: image;
}

.options
{
  grid-area: options;
}

.themes
{
  grid-area: themes;
}

.themes,
.options
{
  display: flex;
  flex-direction: column;
}

.buttons > button
{
  padding: 1rem;
  margin: .5rem;
}

.buttons > button:first-child
{
  border-radius: 10px 10px 0px 0px;
}

.buttons > button:last-child
{
  border-radius: 0px 0px 10px 10px;
}

.buttons > button:hover
{
  padding: 1.8rem;
  margin: .8rem;
}

.buttons > button:active
{
  background-color: var(--active);
}

canvas
{
  height: 80vh;
  border: solid var(--primary) 2px;
  border-radius: 5px;
}

button
{
  color: var(--background);
  background: var(--primary);

  font-size: .8rem;
  font-family: 'Space Mono', monospace;

  padding: .4rem;

  border-style: none;
  border-radius: 3px;

  cursor: pointer;
  transition: 225ms;
}

button:hover
{
  font-size: 1rem;
}

.active
{
  background-color: var(--active);
}
